<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emilochhektor.quizcous" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/quizcous"
        android:theme="@style/Theme.QuizcousTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".StartScreenActivity"
            android:label="@string/quizcous" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameActivity"
            android:label="@string/title_activity_game"
            android:parentActivityName=".StartScreenActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartScreenActivity" />
        </activity>
        <activity
            android:name=".UserSelectionActivity"
            android:label="@string/title_activity_lobby"
            android:parentActivityName=".StartScreenActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.emilochhektor.quizcous.StartScreenActivity" />
        </activity>
    </application>

</manifest>
